<div class="weather-container">
      <h2 style="color: red;">Weather Search</h2>
      
      <div>
        <select [(ngModel)]="searchCity">
          <option *ngFor="let city of availableCities" [value]="city">
            {{ city }}
          </option>
        </select>
        <button (click)="getWeather()">Search</button>
      </div>

      @if (errorMessage) {
        <div class="error">
          {{ errorMessage }}
        </div>
      }
      
      @if (weatherData) {
        <div class="result">
        <h3>{{ weatherData.city }}</h3>
        <ul>
          <li><strong>Temperature:</strong> {{ weatherData.temperatureC }}°C / {{ weatherData.temperatureF }}°F</li>
          <li><strong>Summary:</strong> {{ weatherData.summary }}</li>
          <li><strong>Humidity:</strong> {{ weatherData.humidity }}%</li>
          <li><strong>Wind Speed:</strong> {{ weatherData.wind }} km/h</li>
        </ul>
      </div>
      }
      
    </div>